<!DOCTYPE html>
<html>
<head>
    <title>SekiroApp: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>
<body>
    <header>
        <h1>Welcome to Sekiro</h1>
        <menu>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
        <hr />
    </header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>
        <hr />
        <h1>Footer</h1>
        <p>Copyright Sekiro: Shadow Die Twice 2022</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>

    @RenderSection("Scripts", false);
</body>
</html>